/*style sheet index.html (humaira portfolio_test1)*/

/*
Color Pallete: 
    background color: #DDE5B6
    red color: #ff3c38
    light blue color: #94b8db


    https://fonts.google.com/share?selection.family=Playfair%20Display:wght@400;600;800%7CRoboto%20Condensed
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
html {
    scroll-behavior: smooth;
}
:root{
    --red: #ff3c38;
    --yellow-green: #DDE5B6;
    --gray: #4c5b5c;
}
body{
    font-size: 1.125rem;
    background-color: #DDE5B6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/*
------------------ nav bar ---------------------------------
*/
.top-container
{
   /* border: 6px solid teal;*/
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.top-container h3
{
    color: #ff3c38;
    cursor: pointer;
   /* border: 3px solid turquoise;*/
}
nav
{
    /*border: 2px solid blueviolet;*/
    padding: 0.6em 0;
}
nav ul
{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: end;
    font-size: 18px;
    
}

nav li
{
    margin-left: 2em;
    
}

nav a
{
    color: #ff3c38;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    position: relative;	
}
/*----------------nav link decoration--------------------*/
nav a:hover{
	color: #ff3c38;
}
nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff3c38;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.toggle-button
{
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
    border-radius: 5px solid black;
}

.toggle-button .bar
{
    height: 8px;
    width: 100%;
    background-color: #ff3c38;
    border-radius: 10px;
}
/*---------------------title content-------------*/
h1{
    font-size: 3rem;
}
h2{
    font-size: 1.5rem;
}
.landing-content
{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
   /* border: 4px solid sienna;*/

    /*---center container---*/
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.container{
  /*  border: 4px solid salmon;*/
    
    height: 100vh;
    margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

.container h1{
    line-height: 1.2;
	color: #ff3c38;
	margin-top: 74px;
	margin-bottom: 15px;
}
.container p{
	font-size: 20px;
	color: #ff3c38;
	margin-top: 1%;
}
/*
------------------button design ---------------------------------
*/
.container button{
	background-color: #DDE5B6;
	color: #ff3c38;
	border: 2px solid #ff3c38;
	border-radius: 1px;
	padding: 14px 29px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	transition-duration: 0.15s;
	cursor: pointer;
	margin-top: 2%;
	margin-bottom: 15%;
	letter-spacing: 0.7px;
}
.container button:focus {outline:0;}
.container button:hover{
	background-color: #DDE5B6;
	border: 2px solid #ff3c38;
	color: #ff3c38;
	transform : translateY(-3px);
}
/*
----------------About and Skills---------------------------------
*/
.containerAbout{
   /* border: 4px solid darkgreen;*/
    /*height: 100vh;*/

    display: flex;
	width: 65%;
	margin: 0 auto;
    align-items: center;
    
    /*justify-content: space-between;*/
    text-align: center;

}

.column{
    /*border: 4px solid brown;*/

    padding: 2em ;
    margin: 0 auto;
    height: 60%;
    color: #4c5b5c;
}

.about{
    background-color: #ff3c38;
    
    width: 40%;
    padding: 1em;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 5px 5px #92211f;

    /*text-align: center;*/
}
.about h1,p{
    color: #DDE5B6;
}
.about_image{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: -4em;
    left: 35%;
}

/* -----------skills section -----------------------------*/

.col h2{
    margin-top: 0;
    /*background-color: red;*/
}
.ul_skills{
    list-style-type: none;
    padding-left: 0;
    margin-top: -1rem;
    /*background-color: tan;*/
}

.skillIcon{
    width: 10%;
    /*background-color: red;*/
}

/*
----------------Projects---------------------------------
*/
.projects
{
    margin: 100px auto;
    width: 80%;
    
}
.projects h1
{
    text-align: center;
    color: #ff3c38;
}
.projects h3
{
    color: var(--gray);
}
.projects .projects_images
{
    width: 35%;
    margin: 0 auto;
    
}
.projects img
{
    width: 100%;
    
}
.projects_images button
{
    background-color: #DDE5B6;
	color: #ff3c38;
	border: 2px solid #ff3c38;
	border-radius: 1px;
    padding: 14px 29px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	transition-duration: 0.15s;
	cursor: pointer;
	margin-top: 6%;
	margin-bottom: 15%;
	letter-spacing: 0.7px;
    
}

/*
--------------footer----------------------------------------
*/
.containerContact h3
{
    color: #CCCCCC;
}
.containerContact{
    background-color: #585C49;
    display: flex;
    justify-content: center;
    
}
.containerContact ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: end;
    
}

.containerContact li
{
    margin: 0.3em 1em;
    color: #CCCCCC;
    
}
.containerContact a
{
    text-decoration: none;
    color: #CCCCCC;
    
}
.containerContact a:hover
{
    color: var(--red);
    transition: all 0.3s ease-in-out 0s;
}
/*
--------------media query----------------------------------------
*/


/* put this 870px media query */
@media (max-width: 900px){
    body{
        background-color: thistle;
    }
    .top-container{
        flex-direction: column;
    }
    nav a:hover::before {
        visibility: hidden;
    }
    .toggle-button
    {
        display: flex;
    }
    .navbar-links{
        
        
        width: 100%;
        display: none;
    }
    .navbar
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul
    {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links.active
    {
        display: flex;
    }
    .navbar-links li
    {    
       text-align: center;
    }
    .navbar-links li a
    {
        padding: .5rem 1rem;
    }
    .containerContact{
        flex-direction: column;
        text-align: center;
    }
    .containerContact ul{
        flex-direction: column;
    }
    .containerContact li{
        margin: 0 auto;
    }
    .projects .projects_images
    {
        width: 72%;
    }

}
/*end ------------*/

@media(min-width: 1199px){
    .containerAbout{
        height: 100vh;
    }
}
@media (max-width: 900px) {
    .containerAbout{
        flex-direction: column;
        width: 75%;
        
    }

    .about{
        width: 80%;
    }
    
}

@media (min-width:900px) and (max-width:1200px) {
    body{
       /* background-color: grey;*/
        
    }
    .top-container .title
    {
        font-size: 2rem;
    }
    .top-container{
        flex-direction: column;
    }
    nav a:hover::before {
        visibility: hidden;
    }
    .toggle-button
    {
        display: flex;
    }
    .navbar-links{
        
        
        width: 100%;
        display: none;
    }
    .navbar
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul
    {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links.active
    {
        display: flex;
    }
    .navbar-links li
    {    
       text-align: center;
       font-size: 2rem;
    }
    .navbar-links li a
    {
        padding: .5rem 1rem;
    }


    
    .container p
    {
        font-size: 2rem;
    }
    h1
    {
        font-size: 5rem;
    }
    .container button
    {
        font-size: 1.3rem;
    }
    .containerAbout{
        /*height: 100vh;*/
        width: 90%;
        margin-bottom: 10rem;
        flex-direction: column;
        font-size: 1.9rem;
    }
    
    .about
    {
        width: 60%;
    }
    .column{
        height: 70%;
    }
    .projects h3
    {
        font-size: 2rem;
    }
    .projects .projects_images
    {
        width: 80%;
    }
    .projects_images button
    {
        font-size: 1.3rem;
    }
   
}