
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&family=Roboto+Condensed&display=swap');

:root
{
    --orange: rgb(226, 127, 46);
    --darkOrange: rgb(205, 121, 46);
    --green: #4E5746;
}
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    background-color: var(--green);

    font-family: 'Playfair Display', serif;
    color: white;
    margin: 0 auto;
}


.nav-container
{
    width: 100%;
    background-color: var(--green);
}

.navbar
{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;

}

#navbar-logo
{
    justify-self: start;
    margin-left: 70px;
    margin-top: 30px;
    width: 40px;
}
#navbar-logo{
    cursor: pointer;
}

.nav-menu
{
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
    justify-content: flex-end;
    
}

.nav-links{
    text-decoration: none;
    padding: 28px 60px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.nav-links:hover
{
    color: var(--orange);
}

.nav-links-btn
{
    background-color: var(--orange);
    height: 81.6px;
    width: 180px;
    justify-self: end;
    color: black;
    font-weight: 600;
    padding: 28px 50px;
}
.nav-links-btn:hover
{
    background-color: var(--darkOrange);
    color: white;
}

.menu-toggle .bar
{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}


.container
{
    position: fixed;
    bottom: 20px;
    left: 70px;
    width: 58%;

}
.container h3
{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 40px;
    
}
.container .underline
{
    border-bottom: 3px solid white;

}
.container p
{
    margin-top: 0px;
    font-size: 6rem;
    text-align: left;
    line-height: 1.1;
    font-weight: 700;
}
.container .bright-text
{
    color: var(--orange);
}
.corner-image
{
    width: 1290px;
    height: 650px;
    position: fixed;
    bottom: 0;
    right: 0;
    
    z-index: -5;
}
.corner-image img
{
    width: 100%;
    object-fit: cover;
    object-position: 0px -200px;
    
    
}
/*
********************** MEDIA QUERY *********************************
*/

/*------small screen-------*/
@media (max-width: 869px)
{

    .nav-container
    {
        position: relative;
    }

    .nav-menu
    {
        display: grid;
        grid-template-columns: auto;
        background: var(--green);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;

        justify-content: center;
    }

    .nav-menu.active
    {
        background: var(--green);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links
    {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        padding: 7px 10px;
        
    }
    .navbar
    {
        width: 100%;
    }

    .nav-links-btn
    {
        border: none;
        padding: 0;
        background-color: var(--green);
        color: white;
        font-weight: 400;
        transition: all 0.4s ease-out;
        cursor: pointer;
    }

    .nav-links-btn:hover
    {
        border: none;
        padding: 0;
        background-color: var(--green);
        color: var(--orange);
        transition: all 0.4s ease-out;
    }
    #mobile-menu
    {
        position: absolute;
        top: 28%;
        right: 5%;
        cursor: pointer;
        transform: translate();
    }
    .menu-toggle .bar {
        display: block;
        
        border-radius: 10px;
    }
    .menu-toggle:hover
    {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2)
    {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }


    .container
    {
        width: 70%;
    }
    .container p
    {
        font-size: 4rem;
        
    }


}


/*------medium screen-------*/
@media (min-width: 869px) and (max-width: 1435px)
{
    .container p
    {
        font-size: 4.6em;
        
    }
    
}
